#wrapper {
	position: relative;
	margin: 14rem auto;
	padding: 5px;
	max-width: 75vw;
}

@media only screen and (max-width: 1300px) {
	#wrapper {
        margin: 1rem auto;
        max-width: 95vw;
	}
}
