#bottom-mobile-nav {
    display: none;
    font-size: 1.5rem;
}



@media only screen and (max-width: 1300px) {
	#bottom-mobile-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }
    #link-btn {
        padding: 0;
    }
    .github{
        color: blue;
        font-size: 1.5rem;
        padding: 0px;
    }
    
    .linkedIn {
        color: yellow;
        font-size: 1.5rem;
        padding: 0px;
    }
    
    .contact {
        color: red;
        font-size: 1.5rem;
        padding: 0px;
    }
}