#bottom-mobile-nav {
    display: none;
    font-size: 1.5rem;
    background-color:  rgb(109, 122, 96);
}

.link-btn > span > i {
    color: rgba(248, 255, 241, 0.466);
} 
.link-btn > span > i:hover {
    color: rgba(248, 255, 241, 0.959);
}

@media only screen and (max-width: 1300px) {
	#bottom-mobile-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }
    .link-btn {
        padding: 0;
    }
    .github{
        color: blue;
        font-size: 1.5rem;
        padding: 0px;
    }
    
    .linkedIn {
        color: yellow;
        font-size: 1.5rem;
        padding: 0px;
    }
    
    .contact {
        color: red;
        font-size: 1.5rem;
        padding: 0px;
    }
}