li > .active {
	color: rgb(250, 255, 246) !important;
	font-size: +110%;
}

#home,
#illustration,
#web-development {
	text-decoration: none;
	font-size: 1rem;
	color: rgba(248, 255, 241, 0.466);
}

.menuBg {
	justify-content: flex-end !important;
}

#navBar {
	background-color: rgb(94, 69, 128);
}

.navLink {
	display: flex;
	justify-content: flex-end;
}

#primary-search-account-menu-mobile > div > ul {
	background-color: rgb(121, 89, 165);
}

.sectionMobile {
	display: none;
	color: rgb(248, 255, 241);
}

#title {
	font-family: 'Marcellus SC', serif;
	color: rgb(248, 255, 241);
}

@media only screen and (max-width: 1300px) {
	.sectionDesktop {
		display: none;
	}

	.sectionMobile {
		display: inline-block;
	}
}

@media only screen and (min-width: 760px) {
	#name {
		display: none;
	}
}
