#navBar {
	background-color: rgb(255, 255, 255);
}

#home, #illustration, #web-development {
	text-decoration: none;
	color: rgb(119, 119, 119);
}

.sectionMobile {
	display: none;
	color: black;
}
.active{
	color: rgb(0, 0, 0) !important;
	font-size: +110%;
}

@media only screen and (max-width: 1300px) {
	.sectionDesktop {
		display: none;
	}

	.sectionMobile {
		display: inline-block;	
	}
}